$white: #fff;
$black: #313131;
$translucent_black: rgba(0,0,0,0.3);
$dusty_pink: #d4799b;
$dusty_blue: #96cbea;
$light_gray: #f5f5f5;
$dark_gray: #777;
$gray: #d9d9d9;

$header_color: $dusty_blue;
$main_color: $light_gray;
$footer_color: $gray;
$modal_color: $white;

$font_color_dark: $dark_gray;
$font_color_light: $white;
$btn_color: $white;
$person_color: $white;
